/* 휴대폰 버전 */
@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Tmoney RoundWind';
}
@media all and (min-width:390px){
    #image-section{
        width:100%;
        height:40%;
        background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.5) 100%);
        position:absolute;
        position:sticky;
    }
    
    #image-section img{
        width:100%;
        object-fit: cover;
        object-position: center;
        filter: brightness(0.8);
        top:0;
        left:0;
    }
    
    .clear{
        clear:both;
    }
    
    #menu-section{
        position:relative;
        width:100%;
        height:40%;
        background:#A1CFFF;
    }
    
    .menu-gnb{
        position:sticky;
        padding-top:1rem;
        padding-bottom:2rem;
        display:flex;
        flex-wrap:wrap;
        justify-content: center; /* 중앙 정렬을 위해 추가 */
        margin-left: auto; /* 왼쪽 여백을 제거하기 위해 수정 */
        margin-right: auto; /* 오른쪽 여백을 제거하기 위해 수정 */
    
    }
    
    .menu-gnb > li{
        font-size:0.8rem;
        padding:0.5rem;
        background:#fff;
        border-radius: 2rem;
        margin-top:1rem;
        margin-left:0.8rem;
        text-align:center;
        object-position: center;
        font-weight:600;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    .menu-gnb > li:hover{
        background:#0664A4;
        color:#fff;
    }


.culture{
    width:80%;
    background:#fff;
    margin:10% 0 10% 10%;
    border-radius: 40px 0 40px 0;

}

#main-section{
    position:relative;
    width:100%;
    height:100%;
    background:#BEE6FF;
    display:inline-block;
}

#main-section .culture img{
    width:80%;
    margin-left:10%;
    margin-top:10%;
    position:static;
}

#main-section p{
    display:block;
    margin-top:8%;
    text-align:center;
    padding:2rem 2rem 4rem 2rem;
    line-height:1.6rem;
}



#contents-section{
    overflow:hidden;
    background: #A1CFFF;
}

#contents-section h1{
    font-size:2rem;
    font-weight:600;
    text-align:center;
    margin-top:40px;
}

.gallery-list{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    margin-top:10%;
}

.gallery-list li{
    position:relative;
    width:45%;
    margin-left:3%;
}

.gallery-item{
    position:relative;
    margin-bottom:1rem;
    overflow:hidden;
    border-radius:2rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.29) 30.73%, #000000 100%);
    padding-bottom:100%;
}

.gallery-item::after{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:30%;
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.5) 100%);
}

.gallery-item a{
    display:block;
    z-index:1;
}

.gallery-item img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.8);
    position:absolute;
    top:0;
    left:0;
}

.gallery-item-1{
    position:absolute;
    top:1rem;
    left:1rem;
    color:#fff;
    font-size:1rem;
    font-weight:600;
    letter-spacing: -0.025em;
    line-height: 1.2;
    overflow:hidden;
    text-overflow: ellipsis;
    padding:0.6rem;
    z-index:3;
    background-color:#6CA6F8;
    border-radius: 1.2rem;
}

.gallery-list .gallery-item-address {
	position: relative;
	font-size: 0.5rem;
	font-weight: 600;
	letter-spacing: -0.025em;
	line-height: 1.3;
	margin-bottom: 1.5rem;
}

.gallery-list .gallery-item .gallery-item-address {
	color: #fff;
	position: absolute;
	bottom: 1.5rem;
	left: 2.8rem;
	right: 2rem;
	z-index: 1;
	margin-bottom: 0;
}

.gallery-list .gallery-item-contents{
	padding: 0 1.5rem;
}

.gallery-list .item-title {
	font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: -0.025em;
}

.gallery-list .item-text {
	font-size: 0.8rem;
	letter-spacing: -0.025em;
	margin-top: 0.8rem;
    margin-bottom:0.8rem;
	line-height: 1.4;
}
}





/* 태블릿용 css */
@media all and (min-width:1024px){

    #main-section p{
        display:block;
        margin-top:5%;
        text-align:center;
        padding:0 1rem 2rem 1rem;
        line-height:1.6rem;
        font-size:15px;
    }

    #main-section img img{
        width:80%;
        margin-left:10%;
        margin-top:10%;
        border-radius: 10%;
    }

    #main-section h1{
        padding-top:3rem;
    }

    .gallery-list{
        display:flex;
        flex-wrap:wrap;
        width:100%;
        margin-top:5%;
    }


    .gallery-list li{
        position:relative;
        width:22%;
        margin-left:2.5%;
    }

}


/* PC용 css */
@media all and (min-width:1280px){


    #main-section{
        display:flex;
    }

    #main-section p{
        text-align:left;
        font-size:25px;
        margin:-25% 10% 10% 50%;
        line-height:2rem;
        font-weight:300;
    }

    #main-section .culture img{
        width:40%;
        margin:10% 0 0 5%;
        padding-bottom:10%;
    }


    #main-section h1{
        width:100%;
        height:auto;
        position:absolute;
    }

    .gallery-list{
        display:flex;
        flex-wrap:wrap;
        width:100%;
        margin-top:5%;
    }

    .gallery-list li{
        position:relative;
        width:20%;
        margin-left:4%;
    }

}